.c-pagination {
  text-align: center;

  &__item {
    display: inline-block;
    _font-size(_base-font-size-px - 2);
    line-height: 1;
    padding: 8px 10px;
    text-decoration: none;
    background-color: _lighter(_color-gray);
    color: _color-gray;
  }

  [aria-current="true"] {
    background-color: _light(_color-text);
    color: #fff;
  }

  a.c-pagination__item {
    _transition-all();

    +_hover() {
      background-color: _light(_color-text);
      color: #fff;
    }
  }
}
