.p-global-nav {
  _font-size-line-height(14px);

  .{_prefix}c-navbar__submenu {
    background-color: rgba(_color-black, .8);
  }

  .{_prefix}c-navbar__subitem {
    +_hover() {
      background-color: rgba(#fff, .05);
    }
  }
}
