.c-btn {
  @extend .{bs-prefix}c-btn;
  transition: background-color bs-transition-duration bs-transition-function-timing;
  border: 2px solid color-accent;
  color: color-accent;
  font-weight: bold;

  +bs-hover() {
    background-color: color-main;
  }

  &--block {
    display: block;
  }
}
