.c-section {
  bs-padding(3, 0);

  &--bg {
    background-color: color-main;
  }

  &__title {
    bs-margin(0, 0, 2);
    bs-font-size-line-height(bs-base-font-size * 2);
    text-align: center;
  }
}
