.{_prefix}c-hero {
  &:before {
    background-color: rgba(#000, .3);
  }

  .{bs-prefix}c-hero__header {
    bs-padding(.5, 0, 0);
  }
}

.p-main-visual-content {
  text-align: center;

  &__title {
    bs-margin(0, 0, .5);
    display: inline-block;
    border-bottom: 1px solid #fff;
    color: #fff;
    bs-padding(0, 0, .5);
  }

  &__content {
    &, a {
      color: #fff;
    }
  }

  &__action {
    _margin-top(1);
  }
}
