.{_prefix}c-hero {
  &, a {
    color: #fff;
  }

  &:before {
    background-color: rgba(#000, .3);
  }

  .{bs-prefix}c-hero__header {
    bs-padding(.5, 0, 0);
  }

  .{bs-prefix}c-hero__content {
    text-align: center;
  }

  &__title {
    bs-margin(0, 0, .5);
    display: inline-block;
    bs-padding(0, 0, .5);
    border-bottom: 1px solid #fff;
  }
}
