.{_prefix}l-header {
  transition: background-color _transition-duration _transition-function-timing,
              color _transition-duration _transition-function-timing;

  &, a {
    color: #fff;
  }

  > .{_prefix}c-container {
    position: relative;
  }

  .p-site-branding {
    _padding(.5, 0);
  }

  .p-global-nav {
    a {
      color: #fff;
    }
  }

  .{_prefix}c-hamburger-btn {
    position: absolute;
    top: 50%;
    right: (_base-line-height / 2);
    transform: translateY(-50%);

    +_media-min(md) {
      right: _base-line-height;
    }

    &__bar {
      background-color: #fff;
    }
  }

  html[data-scrolled="true"] & {
    background-color: rgba(#fff, .8);
    box-shadow: 1px 0 3px rgba(_color-black, .1);

    & {
      color: _color-text;
    }

    .p-global-nav {
      .{_prefix}c-navbar__item > a {
        color: _color-text;
      }
    }

    .{_prefix}c-hamburger-btn {
      &__bar {
        background-color: _color-text;
      }

      &[aria-expanded="true"] .{_prefix}c-hamburger-btn__bar:nth-child(2) {
        display: none;
      }
    }
  }
}
