.{_prefix}c-page-header {
  text-align: center;
  _padding(3, 0);
  _background-image-cover();
  _overlay(color-accent, .8);
  position: relative;

  &__title {
    position: relative;
    z-index: 1;
    color: #fff;
    _font-size-line-height(_base-font-size-px * 2);
  }
}
