bs-between-lines = .375rem;
color-main       = #f3f8f8;
color-accent     = #9ed0d0;

@import '../../node_modules/getbasis/src/stylus/basis';
@import 'foundation/*';
@import 'layout/*';
@import 'object/component/*';
@import 'object/project/*';
